<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" /> 
  <link rel="stylesheet" href="css/style.css" type="text/css" /> 
  <title>TwitRaffle</title>
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="page-header">
        <h1>TwitRaffle</h1>
      </div>
      <form method="post">
        Hashtag: <input type="text" class="disabled" readonly name="hashtag" value="agileopenlima">&nbsp;<input type="submit" class="btn primary" value="Sortear" />
      </form>
      <% if @winner %>
        <div class="alert-message success">
          <strong>El ganador es: <%= @winner %></strong>
        </div>
        <strong>Los siguientes usuarios entran al sorteo por twittear usando el hashtag #<%= params[:hashtag] %>:</strong>      
        <%= @users.join ', ' %>
      <% end %>
    </div>
  </div>
</body>
</html>