html, body {
	background-color: #eee;
}
body {
	padding-top: 40px;
}
.content {
	background-color: #fff;
	padding: 20px;
}
.content .span10,.content .span4 {
	min-height: 300px;
}

.container > footer p {
	text-align: center; /* center align it with the container */
}